$textBlack: #333333;
$textGray: #747272;
$black: #1d1e2c;
$white: #ffffff;
$whitebg: #f3f4f7;
$accent: #4c65ba;
$yellow: #ffb443;
$green: #4fd787;
$telegram: linear-gradient(180deg, #2aabee 0%, #229ed9 100%);
$black-gradient: linear-gradient(135deg, #1d1e2c 0%, #0b0c1b 100%);
