@font-face {
    font-family: "SK Zweig";
    src: url("SKZweig-Regular.ttf") format("truetype"), url("SKZweig-Regular.woff") format("woff"), url("SKZweig-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SK Zweig Med";
    src: url("SKZweig-Medium.ttf") format("truetype"), url("SKZweig-Medium.woff") format("woff"), url("SKZweig-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SK Zweig";
    src: url("SKZweig-Bold.ttf") format("truetype"), url("SKZweig-Bold.woff") format("woff"), url("SKZweig-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
