@import "@/assets/sass/core/variables.scss";

.md-glry {
    padding: 100px 0;

    &__content {
        display: grid;
        grid-template-columns: 30% auto;
        position: relative;
        gap: 50px;
    }

    &__titling {
        align-self: flex-start;
    }

    &__title {
        color: #252324;
        font-family: "SK Zweig";
        font-size: var(--ttitle);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__subtitle {
        font-size: var(--tsubtitle);
        line-height: 140%;
        font-weight: 300;
        color: rgba(#252324, 0.6);
        transition: 0.5s;
        align-self: center;
    }

    &__grid {
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 170px;
        gap: 10px;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .md-glrycard {
        width: 100%;
        position: relative;
        overflow: hidden;
        transition: 0.8s;
        opacity: 0;
        filter: grayscale(1) opacity(0.4);

        &__info {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(#fff, 0.2);
            backdrop-filter: blur(10px);
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            transition: 0.6s;
            opacity: 0;

            &-title {
                font-size: 18px;
                font-weight: 300;
                font-family: "SK Zweig";
                color: #252324;
                letter-spacing: 1px;
                opacity: 0;
                transition: 0.3s;
                visibility: hidden;
            }

            &-desc {
                font-size: 12px;
                line-height: 160%;
                opacity: 0;
                font-weight: 300;
                color: rgba(#252324, 0.6);
                visibility: hidden;
                transition: 0.3s;
            }

            &-link {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 5px;
                color: #252324;
                opacity: 0.5;
                visibility: hidden;
                opacity: 0;
                cursor: pointer;
                margin: auto 0 0 0;
                transition: 0.3s;

                &::after {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    content: "";
                    width: 18px;
                    transition: 0.3s;
                    height: 18px;
                    background: url("@/assets/icons/icon-more.svg") no-repeat center center/contain;
                }

                &:hover {
                    opacity: 0.8;

                    &::after {
                        transform: rotate(45deg);
                    }
                }
            }
        }

        img {
            // display: none;
            position: absolute;
            top: -30%;
            left: 0%;
            width: 100%;
            height: 160%;
            object-fit: cover;
        }

        &:nth-child(1),
        &:nth-child(7) {
            grid-column: span 2;
            grid-row: span 2;

            .md-glrycard {
                &__info {
                    padding: 50px;

                    &-title {
                        font-size: 24px;
                    }

                    &-desc {
                        font-size: 16px;
                    }
                }
            }
        }

        &:hover {
            .md-glrycard {
                &__info {
                    background: rgba(#fff, 0.6);
                    opacity: 1;

                    &-title {
                        animation: fade-in-up 1s ease-in-out 0.5s 1 forwards;
                    }
                    &-desc {
                        animation: fade-in-up 1s ease-in-out 0.8s 1 forwards;
                    }
                    &-link {
                        animation: fade-in-up 1s ease-in-out 1.4s 1 forwards;
                    }
                }
            }
        }

        &.is-inview {
            opacity: 1;
            transform: translateY(0);
            filter: revert;
        }
    }
}

@media (max-width: 992px) {
    .md-glry {
        &__grid {
            grid-auto-rows: 120px;
        }
    }
}
