.md-lvp {
    background: #fff;
    padding: 70px 60px;
    width: 600px;
    position: relative;
    opacity: 0;
    max-height: 90vh;
    overflow: auto;

    &__wrapper {
        position: fixed;
        background: rgba(#252324, 0.6);
        backdrop-filter: blur(5px);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 13;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;

        &.md-show {
            animation: fade-in 0.6s ease-in-out 1 forwards;

            .md-lvp {
                animation: fade-in-up-short 0.6s ease-in-out 0.6s 1 forwards;
            }
        }

        &.md-closing {
            opacity: 1;
            visibility: visible;
            animation: fade-out 0.6s ease-in-out 0.6s 1 forwards;

            .md-lvp {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                animation: fade-out-up-short 0.6s ease-in-out 1 forwards;
            }
        }
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 40px;
        height: 40px;
        background: url("@/assets/icons/icon-close.svg") no-repeat center center;
        background-size: 25px 25px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
            transform: rotate(90deg);
        }
    }

    &__title {
        color: #252324;
        font-family: "SK Zweig";
        font-size: 34px;
        font-style: normal;
        line-height: normal;
    }

    &__desc {
        color: rgba(#252324, 0.6);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 32.4px */
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px auto 0 auto;
        width: 100%;

        &-btn {
            background: rgba(#252324, 0.6);
            align-self: flex-end;

            * {
                color: #fff;
            }
        }

        &-error {
            font-size: 12px;
            line-height: 1.4;
            padding: 0 20px;
            background: rgba($red, 0.2);
            color: $red;
            border-radius: 5px;
            transition: 0.4s;
            max-height: 0px;
            overflow: hidden;
            grid-column: 1 / 3;

            &.md-show {
                max-height: 100px;
                padding: 15px 20px;
            }
        }

        &-success {
            font-size: 14px;
            font-weight: 700;
            line-height: 1.4;
            padding: 0 50px;
            background: rgba($green, 0.2);
            color: darken($green, 20%);
            text-align: center;
            border-radius: 5px;
            transition: 0.4s;
            max-height: 0px;
            overflow: hidden;
            grid-column: 1 / 3;

            &.md-show {
                max-height: 100px;
                padding: 15px 50px;
            }
        }
    }

    .md-lvpform-input {
        position: relative;
        overflow: visible;

        &__error {
            position: absolute;
            z-index: 14;
            bottom: 100%;
            font-size: 12px;
            line-height: 1.4;
            padding: 15px 20px;
            max-width: 300px;
            background: rgba($red, 0.2);
            color: $red;
            margin: 0 0 10px 0;
            border-radius: 5px;
            transition: 0.4s;
            opacity: 0;
            visibility: hidden;
            backdrop-filter: blur(10px);

            &::before {
                position: absolute;
                content: "";
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid rgba($red, 0.2);
                top: 100%;
                left: 20px;
            }

            &.md-show {
                opacity: 1;
                visibility: visible;
            }
        }

        &__hint {
            font-size: 12px;
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: rgba(#252324, 0.3);
        }
    }

    .md-employee {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-end;

        div:nth-child(5),
        div:nth-child(7),
        div:nth-child(6) {
            grid-column: 1 / 3;
        }

        button:last-child {
            justify-self: flex-end;
            display: flex;
            width: unset;
            grid-column: 1 / 3;
        }
    }

    .md-review {
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-auto-rows: auto;

        .md-lvpform-input--photo {
            grid-row: 1 / 5;
            height: 100%;

            .md-phinput {
                height: 100%;
            }
        }

        button:last-child {
            justify-self: flex-end;
            display: flex;
            width: unset;
            grid-column: 1 / 3;
        }
    }

    &::-webkit-scrollbar {
        width: 0;
    }

    &:has(.md-review) {
        width: 750px;
    }
}

@media (max-width: 768px) {
    .md-lvp {
        width: 400px;
        padding: 40px 35px 30px 35px;

        &__title {
            font-size: 24px;
        }

        &__desc {
            font-size: 13px;
            color: rgba(#252324, 0.6);
        }

        &__close {
            top: 15px;
            right: 15px;
            background-size: 20px 20px;
        }

        .md-employee {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: flex-end;

            div {
                grid-column: 1 / 3;
            }
        }

        .md-review {
            display: flex;
            flex-direction: column;

            .md-lvpform-input--photo {
                height: 250px;
                width: 200px;
                margin: 0 auto;
            }
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes fade-in-up-short {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
@keyframes fade-out-up-short {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-50px);
    }
}
