.md-textarea {
    display: block;
    width: 100%;
    padding: 15px 20px;
    line-height: 1.5;
    border: 1px solid rgba(#252324, 0.2);
    background: #fff;
    font-size: 14px;
    font-weight: 300;
    resize: vertical;
    min-height: 150px;
    max-height: 300px;
    color: rgba(#252324, 0.8);

    &::placeholder {
        opacity: 0;
    }

    &__wrapper {
        position: relative;
    }

    &__label {
        position: absolute;
        top: 27px;
        left: 23px;
        font-size: 14px;
        color: rgba(#252324, 0.4);
        transform: translateY(-50%);
        transition: 0.4s;
    }

    &:not(:placeholder-shown) {
        padding: 25px 20px 0 20px;

        & + .md-textarea__label {
            top: 12px;
            left: 20px;
            transform: revert;
            font-size: 11px;
            color: rgba(#252324, 0.3);
        }
    }

    &.md-error {
        border-color: #f53737;

        &::placeholder {
            color: #f53737;
        }
    }

    &.md-success {
        border-color: #52d834;

        &::placeholder {
            color: #52d834;
        }
    }

    &:focus {
        border-color: rgba(#004cff, 0.6);
    }
}

@media (max-width: 768px) {
    .md-textarea {
        padding: 10px 15px;

        &__label {
            top: 22px;
            left: 15px;
            font-size: 13px;
        }
    }
}
