@import "@/assets/sass/core/variables.scss";

.vgcm-ready {
    background: #fff;
    height: 600px;
    position: relative;
    margin: 100px 0 0 0;

    &__content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::before {
            content: "";
            display: flex;
            position: absolute;
            z-index: 1;
            width: 230px;
            height: 230px;
            top: -40px;
            left: -60px;
            background: url("@/assets/images/bg-curve-text2.svg") no-repeat center center/contain;
            animation: rotater 10s linear infinite;
        }

        &::after {
            content: "";
            display: flex;
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 170px;
            bottom: -20px;
            left: -20px;
            background: url("@/assets/images/bg-figure3.svg");
            background-repeat: repeat-x;
            // animation: rotater 10s linear infinite;
        }
    }

    &__info {
        width: 60%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        z-index: 2;
        gap: 5px;

        &-title {
            color: $textBlack;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 64.8px */
        }

        &-desc {
            color: $textGray;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 180%; /* 36px */
            margin: 0 0 30px 0;
        }
    }

    &__interactive {
        display: flex;
        position: relative;
        z-index: 2;
        flex-grow: 1;

        &-img {
            width: 230px;
            height: 350px;
            display: flex;
            object-fit: cover;

            &:nth-child(2) {
                margin: 0 -50px;
                position: relative;
                z-index: 2;
                transform: scale(1.3);
                box-shadow: 0 0 30px 0 rgba(#000000, 0.1);
            }
        }
    }

    &::after {
        content: "";
        display: flex;
        position: absolute;
        right: -20%;
        top: calc(50% - 425px);
        filter: blur(10px);
        transform: translate(40%, -50%);
        width: 850px;
        height: 850px;
        background: $accent;
        border-radius: 100%;
        animation: scaler 5s ease-in-out infinite alternate;
    }

    &::before {
        content: "";
        display: flex;
        position: absolute;
        z-index: 1;
        width: 90px;
        height: 90px;
        top: 40px;
        right: 40px;
        background: url("@/assets/images/bg-figure2.svg") no-repeat center center/contain;
    }
}
